name: Build and deploy JAR app to Azure Web App - reviews-tech-challenge-4

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'microsoft'

      - name: Build Quarkus JAR
        run: mvn clean package -Dquarkus.package.type=uber-jar -Dquarkus.package.output-name=app

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          path: target/app-runner.jar

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: java-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_3D9C8F0024E5485D86CCE202EE3FCBE9 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_62E4856A308C4292BEE8D55311C82B7F }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_07EA1546709D497F813C5DA4FFC1C882 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'reviews-tech-challenge-4'
          slot-name: 'Production'
          package: target/app-runner.jar